USE [ParNegar]
GO
/****** Object:  Table [Auth].[BranchUsers]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[BranchUsers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BranchID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_BranchUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[RefreshTokens]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[RefreshTokens](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[JwtId] [nvarchar](100) NOT NULL,
	[SessionId] [nvarchar](100) NULL,
	[ExpiresAt] [datetimeoffset](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[DeviceId] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[RolePermissions]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[RolePermissions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[SystemRoleID] [bigint] NOT NULL,
	[SystemPermissionID] [bigint] NOT NULL,
	[IsGranted] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[SystemActivityLogs]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[SystemActivityLogs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BranchID] [bigint] NULL,
	[UserID] [bigint] NOT NULL,
	[SystemModuleID] [bigint] NOT NULL,
	[SystemActionID] [bigint] NOT NULL,
	[SystemSeverityID] [bigint] NOT NULL,
	[EntityType] [nvarchar](100) NOT NULL,
	[EntityID] [bigint] NULL,
	[EntityTitle] [nvarchar](200) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](50) NOT NULL,
	[UserAgent] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[ActionDate] [datetimeoffset](7) NOT NULL,
	[sActionDate] [char](10) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SystemActivityLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[TokenBlacklists]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[TokenBlacklists](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[TokenId] [nvarchar](100) NULL,
	[SessionId] [nvarchar](100) NULL,
	[UserId] [bigint] NOT NULL,
	[BlacklistedAt] [datetimeoffset](7) NOT NULL,
	[ExpiresAt] [datetimeoffset](7) NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TokenBlacklists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserComponentActions]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserComponentActions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ComponentActionID] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_UserComponentActions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserLoginLogs]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserLoginLogs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[IPAddress] [nvarchar](50) NOT NULL,
	[UserAgent] [nvarchar](500) NULL,
	[LoginType] [nvarchar](20) NOT NULL,
	[IsSuccessful] [bit] NOT NULL,
	[FailureReason] [nvarchar](200) NULL,
	[SessionID] [nvarchar](100) NULL,
	[LoginDate] [datetimeoffset](7) NOT NULL,
	[sLoginDate] [char](10) NOT NULL,
	[LogoutDate] [datetimeoffset](7) NULL,
	[sLogoutDate] [char](10) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserLoginLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserRoles]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserRoles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[SystemRoleID] [bigint] NOT NULL,
	[AssignedDate] [datetimeoffset](7) NOT NULL,
	[sAssignedDate] [char](10) NOT NULL,
	[ExpiryDate] [datetimeoffset](7) NULL,
	[sExpiryDate] [char](10) NULL,
	[IsActive] [bit] NOT NULL,
	[AssignedByUserID] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Users]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BranchID] [bigint] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[PasswordChangeDate] [datetimeoffset](7) NULL,
	[sPasswordChangeDate] [char](10) NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[FirstFailedLoginDate] [datetimeoffset](7) NULL,
	[sFirstFailedLoginDate] [char](10) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[ComponentActions]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[ComponentActions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ComponentID] [bigint] NOT NULL,
	[ActionsName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_ComponentActions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[Components]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[Components](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[SoftwareID] [bigint] NOT NULL,
	[SchemaName] [nvarchar](100) NULL,
	[TableName] [nvarchar](100) NULL,
	[ComponentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[Softwares]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[Softwares](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Softwares] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[SystemActions]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[SystemActions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_SystemActions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[SystemModules]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[SystemModules](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_SystemModules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[SystemPermissions]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[SystemPermissions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[SystemModuleID] [bigint] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_SystemPermissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[SystemRoles]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[SystemRoles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsSystemRole] [bit] NOT NULL,
	[IsCustomerRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_SystemRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuthBase].[SystemSeverities]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuthBase].[SystemSeverities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NameFa] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Color] [nvarchar](20) NULL,
	[Priority] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_SystemSeverities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Core].[Branchs]    Script Date: 11/2/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Branchs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameFa] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ManagerName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Branchs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Auth].[BranchUsers]  WITH CHECK ADD  CONSTRAINT [FK_BranchUsers_Branchs] FOREIGN KEY([BranchID])
REFERENCES [Core].[Branchs] ([ID])
GO
ALTER TABLE [Auth].[BranchUsers] CHECK CONSTRAINT [FK_BranchUsers_Branchs]
GO
ALTER TABLE [Auth].[BranchUsers]  WITH CHECK ADD  CONSTRAINT [FK_BranchUsers_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[BranchUsers] CHECK CONSTRAINT [FK_BranchUsers_Users]
GO
ALTER TABLE [Auth].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_SystemPermissions] FOREIGN KEY([SystemPermissionID])
REFERENCES [AuthBase].[SystemPermissions] ([ID])
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_SystemPermissions]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_SystemRoles] FOREIGN KEY([SystemRoleID])
REFERENCES [AuthBase].[SystemRoles] ([ID])
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_SystemRoles]
GO
ALTER TABLE [Auth].[SystemActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemActivityLogs_Branchs] FOREIGN KEY([BranchID])
REFERENCES [Core].[Branchs] ([ID])
GO
ALTER TABLE [Auth].[SystemActivityLogs] CHECK CONSTRAINT [FK_SystemActivityLogs_Branchs]
GO
ALTER TABLE [Auth].[SystemActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemActivityLogs_SystemActions] FOREIGN KEY([SystemActionID])
REFERENCES [AuthBase].[SystemActions] ([ID])
GO
ALTER TABLE [Auth].[SystemActivityLogs] CHECK CONSTRAINT [FK_SystemActivityLogs_SystemActions]
GO
ALTER TABLE [Auth].[SystemActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemActivityLogs_SystemModules] FOREIGN KEY([SystemModuleID])
REFERENCES [AuthBase].[SystemModules] ([ID])
GO
ALTER TABLE [Auth].[SystemActivityLogs] CHECK CONSTRAINT [FK_SystemActivityLogs_SystemModules]
GO
ALTER TABLE [Auth].[SystemActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemActivityLogs_SystemSeverities] FOREIGN KEY([SystemSeverityID])
REFERENCES [AuthBase].[SystemSeverities] ([ID])
GO
ALTER TABLE [Auth].[SystemActivityLogs] CHECK CONSTRAINT [FK_SystemActivityLogs_SystemSeverities]
GO
ALTER TABLE [Auth].[SystemActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[SystemActivityLogs] CHECK CONSTRAINT [FK_SystemActivityLogs_Users]
GO
ALTER TABLE [Auth].[UserComponentActions]  WITH CHECK ADD  CONSTRAINT [FK_UserComponentActions_ComponentActions] FOREIGN KEY([ComponentActionID])
REFERENCES [AuthBase].[ComponentActions] ([ID])
GO
ALTER TABLE [Auth].[UserComponentActions] CHECK CONSTRAINT [FK_UserComponentActions_ComponentActions]
GO
ALTER TABLE [Auth].[UserComponentActions]  WITH CHECK ADD  CONSTRAINT [FK_UserComponentActions_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[UserComponentActions] CHECK CONSTRAINT [FK_UserComponentActions_Users]
GO
ALTER TABLE [Auth].[UserLoginLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLoginLogs_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[UserLoginLogs] CHECK CONSTRAINT [FK_UserLoginLogs_Users]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_SystemRoles] FOREIGN KEY([SystemRoleID])
REFERENCES [AuthBase].[SystemRoles] ([ID])
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_SystemRoles]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserID])
REFERENCES [Auth].[Users] ([ID])
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [Auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branchs] FOREIGN KEY([BranchID])
REFERENCES [Core].[Branchs] ([ID])
GO
ALTER TABLE [Auth].[Users] CHECK CONSTRAINT [FK_Users_Branchs]
GO
ALTER TABLE [AuthBase].[ComponentActions]  WITH CHECK ADD  CONSTRAINT [FK_ComponentActions_Components] FOREIGN KEY([ComponentID])
REFERENCES [AuthBase].[Components] ([ID])
GO
ALTER TABLE [AuthBase].[ComponentActions] CHECK CONSTRAINT [FK_ComponentActions_Components]
GO
ALTER TABLE [AuthBase].[Components]  WITH CHECK ADD  CONSTRAINT [FK_Components_Softwares] FOREIGN KEY([SoftwareID])
REFERENCES [AuthBase].[Softwares] ([ID])
GO
ALTER TABLE [AuthBase].[Components] CHECK CONSTRAINT [FK_Components_Softwares]
GO
ALTER TABLE [AuthBase].[SystemPermissions]  WITH CHECK ADD  CONSTRAINT [FK_SystemPermissions_SystemModules] FOREIGN KEY([SystemModuleID])
REFERENCES [AuthBase].[SystemModules] ([ID])
GO
ALTER TABLE [AuthBase].[SystemPermissions] CHECK CONSTRAINT [FK_SystemPermissions_SystemModules]
GO
